@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    overflow-y: auto;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.904), 
          rgba(0, 0, 0, 0.884)
        ),
        /* bottom, image */
        url('./img/Download\ free\ illustration\ of\ Black\ glitch\ effect\ texture\ background.jpg');
        background-size: cover;

        background-repeat: repeat-y;
  }

      .loader{
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
      }
      .loader img {
        width: 95%;
        height: 95%;
      }

      @media screen and (max-width: 575px) {
        .loader img {
          width: 100%;
          height: 100%;
        }
      }
      .disppear{
        animation: vanish 0.1s forwards;
      }
      @keyframes vanish {
        90% {
          opacity: 0;
        }
        95% {
          opacity: 1;
        }
        100%{
          opacity: 0;
          visibility: hidden;
        }
      }

  @keyframes glitch-anim-1 {
        0% {
          clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
          
        }
        10% {
          clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
        }
        20% {
          clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
        }
        30% {
          clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
        }
        40% {
          clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
        }
        50% {
          clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
        }
        60% {
          clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
        }
        70% {
          clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        }
        80% {
          clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
         
        }
        90% {
          clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        }
        100% {
          clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
        }
      }
  @keyframes glitch-anim-2 {
    0% {
      clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
    }
    15% {
      clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }
    25% {
      clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
    }
    30% {
      clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }
    45% {
      clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
    }
    50% {
      clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
    }
    65% {
      clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }
    75% {
      clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }
    80% {
      clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
    }
    95% {
      clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
    }
    100% {
      clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
    }
  }
  @keyframes glitch-anim-flash {
    0% {
      opacity: .2;
    }
    30%, 100% {
      opacity: 0;
    }
  }

  .navbar {
      height: 80px;
      width: 100%;
      background-color: rgb(0, 0, 0);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 100px;
      border-bottom: 1px solid rgb(255, 255, 255);
      z-index: 1000;
      position: sticky;
      top: 0;

  } 

  .logo {
      color: #fff;
      font-size: 35px;
      font-weight: 500;
      font-family: 'Press Start 2P', cursive;
      position: relative;
      z-index: 1000;
  }

  .logo::before{
    right: 4px;
    text-shadow: 4px 4px red;
    content: '</C>';
    position: absolute;
  }
  .logo::after{
    left: -4px;
    text-shadow: 3px 3px blue;
    content: '</C>';
    position: absolute;
  }

  .menu_list {
      display: flex;
  }

  .nav_item {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .nav_links-1, .nav_links-2, .nav_links-3, .nav_links-4 {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.918);
      text-transform: uppercase;
      font-size: 16px;
      z-index: 1000;
  }

  .nav_item .nav_links-1, .nav_links-2, .nav_links-3, .nav_links-4{
    position: relative;
    cursor: pointer;
    font-weight: 700;
    padding: 30px;
    letter-spacing: 2px;
  }

.nav_item .nav_links-1:hover:before, .nav_links-2:hover:before, .nav_links-3:hover:before, .nav_links-4:hover:before,
.nav_item .nav_links-1:hover:after , .nav_links-2:hover:after , .nav_links-3:hover:after , .nav_links-4:hover:after {
  padding: 30px;
  color: #fff;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 20%;
  background: black;
  overflow: hidden;
  top: 0;
}
.nav_item .nav_links-1:hover:before, .nav_links-2:hover:before, .nav_links-3:hover:before, .nav_links-4:hover:before{
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-1 2s linear infinite reverse;
}
.nav_item .nav_links-1:hover:after, .nav_links-2:hover:after, .nav_links-3:hover:after, .nav_links-4:hover:after{
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch-2 2s linear infinite reverse;
}

.social_list {
  display: none;
  list-style: none;
  color: white;

}

@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height:3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 980px) {
  body {
    overflow-x: hidden!important;
  }
  .menu_list {
    position: absolute;
    right:0px;
    height:100vh;
    top: 8vh;
    background-color: rgb(0, 0, 0);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .social {
    height: 150px;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 20px;
  }
  .social .social_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .social .social_list .linkedin {
    margin-bottom: 2px;
    filter: invert(29%) sepia(38%) saturate(4021%) hue-rotate(196deg) brightness(87%) contrast(92%);
  }
  .social .social_list .github {
    filter: invert(100%) sepia(0%) saturate(5912%) hue-rotate(196deg) brightness(118%) contrast(100%);
  }

  .menu_list li a {
    opacity: 1;
    font-size: 30px;
  }
  .burger {
    display: block;
    cursor: pointer;
    z-index: 1000;
  }
  .burger.is-active .line2 {
    opacity: 0;
  }

  .burger.is-active .line1 {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.is-active .line3 {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.menu_active, .nav_links {
  display: flex;
  z-index: 1000;
}
@media screen and (max-width: 575px) {
.navbar {
  padding: 0 40px;
}
}

.hero_section {
  background: #111;
  min-height: calc(100vh - 80px);
}

.hero_section .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 5px 4px 10px #fff;
}

.hero_section .video video {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_section .video h1 {
  background-color: transparent;
  color: rgb(226, 226, 226);
  position: absolute;
  bottom: 50%;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 10px;
  font-family: 'Teko', sans-serif;
  z-index: 2;
}

.hero_section .video .title {
  background-color: transparent;
  color: rgb(226, 226, 226);
  position: absolute;
  bottom: 25%;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Teko', sans-serif;
  z-index: 2;
  text-shadow: 1px 1px red;
}

.hero_section .video .subtitle {
  background-color: transparent;
  color: rgb(226, 226, 226);
  position: absolute;
  bottom: 15%;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Teko', sans-serif;
  z-index: 2;
  text-shadow: 1px 1px red;
}


.hero_section .video h1:nth-child(1) {
  text-shadow: 2px 2px blue;
}
@media screen and (max-width: 980px) {
  .hero_section .video h1 {
    font-size: 50px;
    font-family: 'VT323', monospace;
    padding: 10px;
  }
}
@media screen and (max-width: 575px) {
  .hero_section .video h1 {
    font-size: 40px;
    padding: 18px;
    font-family: 'VT323', monospace;
  }
.hero_section .video .title {
  font-size: 30px;
}
.hero_section .video .subtitle {
  font-size: 30px;
}
}

.sobre_section {
  height: 100%;
  max-width: 1348px;
  display: flex;
  flex-direction: column;
  padding: 40px 50px;
  background-color: transparent;
  justify-content: center;
}

.sobre_section .sobretexto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sobretexto .texto {
  width: 71%;
}

.fita {
  position: absolute;
}

 .texto p {
  margin-top: 30px;
}

.sobre_section .myphoto {
  position: relative;
	overflow: hidden;
}

.sobre_section .myphoto img {
  padding-bottom:50px ;
	position: relative;
  padding-left: 30px;
}

.sobre_title {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.sobre_title .h2_sobre {
  height: 100px;
  width: 700px;
  color: rgb(226, 226, 226);
  text-align: center;
  position: relative;
  margin: 50px 0 ;
  font-weight: 400;
  font-size: 40px;
  text-shadow:1px 1px red ;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  padding-top:30px ;
}

.sobre_title .h2_sobre::before {
  content: '<about>';
  position: absolute;
  top: 0;
  left: 20px;
  font-weight: 300;
  font-size: 15px;
  text-shadow: 1px 1px blue;
  letter-spacing: 3px;
  font-family: 'Press Start 2P', cursive;
  text-transform: lowercase;
}



.sobre_title .h2_sobre::after {
  content: '</about>';
  position: absolute;
  bottom: 0;
  right: 20px;
  font-weight: 300;
  font-size: 15px;
  text-shadow: 1px 1px red;
  letter-spacing: 1px;
  font-family: 'Press Start 2P', cursive;
  text-transform: lowercase;
}

.sobretexto p {
  color: #fff;
  padding: 0 0 55px 0;
  margin-left: 40px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 19px;
  letter-spacing: 1px;
  position: relative;
}

.sobretexto p::after {
  content: '';
  position: absolute;
  width: 300px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.897);
  bottom: 0;
  left: 0;
  box-shadow: 2px 2px purple;
}

.formacao {
  padding: 55px 40px 0 40px;
}

.formacoes {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  align-items: baseline;
}

.formacoes .resilia, .alura, .ucb {
  padding: 30px;
}

.formacao h2 {
  text-shadow: 1px 1px red;
  font-size: 36px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
}

.formacao h3, h2 {
  color: #fff;
  font-family: 'Kumbh Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

.formacao ul li {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  font-family: 'Kumbh Sans', sans-serif;
  list-style: square;
}

.resilia, .alura, .ucb {
  height: 100%;
  font-family: 'Kumbh Sans', sans-serif;
}


@media screen and (max-width: 1125px) {
  .sobretexto .texto {
    width: 100%;
  }
  .sobre_section .myphoto img {
    padding-bottom:50px ;
    position: relative;
    padding-left: 0;
  }
}
@media screen and (max-width: 775px) {
  .formacoes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
  .formacoes .resilia, .alura {
    margin-bottom: 20px;
  }
  .formacoes .resilia, .alura, .ucb {
    width: 100%;
    padding: 20px 0;
  }

  .formacoes h3 {
    margin-bottom: 20px;
  } 
}
@media screen and (max-width: 575px) {
  .sobre_title .h2_sobre {
    font-size: 28px;
  }

  .sobretexto p {
    color: #fff;
    padding: 0 0 55px 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    position: relative;
    margin: 0;
  }
  .sobretexto p::after {
    content: '';
    position: absolute;
    width: 160px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.897);
    bottom: 0;
    left: 0;
    box-shadow: 2px 2px purple;
  }

  .formacao {
    padding: 40px 0 0 0;
  }

  .formacao h2 {
      font-size: 28px;
      text-shadow: 1px 1px red;
  }

  .formacoes {
    display: flex;
    padding: 40px 0 0 0;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

}
.tecnologias {
  padding: 40px;
  text-align: center;
}

.tecnologias .tec-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #fff;
  box-shadow: 3px -3px purple;
}

.tecnologias ul li {
  list-style: none;
  color: #fff;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  text-shadow: 1px 1px red;
}

.tecnologias .tecnologias_texto {
  height: 100px;
  color: #fff;
  font-weight: 300;
  font-size: 36px;
  text-shadow:1px 1px blue ;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  padding-top:10px ;
  letter-spacing: 2px;
  text-align: start;
}

@media screen and (max-width: 775px) {
  .tec-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 575px) {
.tecnologias {
  padding: 40px 0 0 0;
}
.tecnologias .tecnologias_texto {
  font-size: 28px;
}
}

.page_divide {
  height: 80px;
  display: grid;
  place-items: center;
  position: relative;
  margin: 1rem 0rem;
}

.divide {
  width: 150px;
  height: 150px;
  background:
        url('./img/giphy.gif');
        background-size: cover;
  margin-top: 30px;
  background-position-x: center;
  }

  .portfolio_section {
    margin: 170px 0 50px 0;
    padding: 0 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portfolio_title h2 {
    height: 100px;
    width: 100%;
    color: rgb(226, 226, 226);
    text-align: center;
    position: relative;
    font-weight: 400;
    font-size: 40px;
    text-shadow:1px 1px blue ;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    padding-top:30px ;
  }

  .portfolio_title h2::before {
    content: '<projects>';
    position: absolute;
    top: 0;
    left: 280px;
    font-weight: 300;
    font-size: 15px;
    text-shadow: 1px 1px blue;
    letter-spacing: 3px;
    font-family: 'Press Start 2P', cursive;
    text-transform: lowercase;
  }
  
  .portfolio_title h2::after {
    content: '</projects>';
    position: absolute;
    bottom: 0;
    right: 280px;
    font-weight: 300;
    font-size: 15px;
    text-shadow: 1px 1px red;
    letter-spacing: 1px;
    font-family: 'Press Start 2P', cursive;
    text-transform: lowercase;
  }

  .portfolio_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio_section h2 {
    margin: 50px 0;
  }

  .portfolio_p {
    color: #fff;
    margin: 20px 0 40px 0;
    padding: 0 50px;
    width: 100%;
    font-size: 19px;
  }

  
  .swiper-container {
    width: 100%;
    max-height: calc(100vh - 80px);
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 100%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-wrapper div img {
    width: 100%;
    max-height: calc(100vh - 80px);
  }

  @media screen and (max-width: 775px) {

    .portfolio_section {
      margin-top: 170px;
      padding: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .portfolio_title h2 {
      height: 100px;
      width: 200px;
      color: rgb(226, 226, 226);
      text-align: center;
      position: relative;
      font-weight: 400;
      font-size: 28px;
      text-shadow:1px 1px blue ;
      font-family: 'Press Start 2P', cursive;
      text-transform: uppercase;
      padding-top:30px ;
    }
  
    .portfolio_title h2::before {
      content: '<projects>';
      position: absolute;
      top: -12px;
      left: 200px;
      font-weight: 300;
      font-size: 15px;
      text-shadow: 1px 1px blue;
      letter-spacing: 3px;
      font-family: 'Press Start 2P', cursive;
      text-transform: lowercase;
    }
    
    .portfolio_title h2::after {
      content: '</projects>';
      position: absolute;
      bottom: 0;
      right: 200px;
      font-weight: 300;
      font-size: 15px;
      text-shadow: 1px 1px red;
      letter-spacing: 1px;
      font-family: 'Press Start 2P', cursive;
      text-transform: lowercase;
    }

    .swiper-wrapper div img {
      width: 100%;
      height: auto;
    }

    .swiper-container {
      width: 100%;
      height: auto;
    }
  }


  @media screen and (max-width: 575px) {

  
    .portfolio_title h2 {
      height: 100px;
      width: 200px;
      color: rgb(226, 226, 226);
      text-align: center;
      position: relative;
      font-weight: 400;
      font-size: 28px;
      text-shadow:1px 1px blue ;
      font-family: 'Press Start 2P', cursive;
      text-transform: uppercase;
      padding-top:30px ;
    }
  
    .portfolio_title h2::before {
      content: '<projects>';
      position: absolute;
      top: -12px;
      left: 100px;
      font-weight: 300;
      font-size: 15px;
      text-shadow: 1px 1px blue;
      letter-spacing: 3px;
      font-family: 'Press Start 2P', cursive;
      text-transform: lowercase;
    }
    
    .portfolio_title h2::after {
      content: '</projects>';
      position: absolute;
      bottom: 0;
      right: 100px;
      font-weight: 300;
      font-size: 15px;
      text-shadow: 1px 1px red;
      letter-spacing: 1px;
      font-family: 'Press Start 2P', cursive;
      text-transform: lowercase;
    }

    .portfolio_p {
      color: #fff;
      margin: 20px 0 40px 0;
      font-family: 'Kumbh Sans', sans-serif;
      font-size: 19px;
      letter-spacing: 1px;    
    }
  
  }

  .divide_block {
    width: 190px;
    height: 150px;
    background:
          url('./img/help.gif');
          background-size: cover;
    margin-top: 30px;
    background-position-x: center;
    margin: 56px 0;
    }

  .contact {
    height: auto;
    width: 100%;
    padding: 0 100px;
    margin: 230px 0 100px 0;
  }

  .contact_title {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    margin:50px 0;
    position: relative;
  }

  .contact_title h2 {
    height: 100px;
    width: 100%;
    color: rgb(226, 226, 226);
    text-align: center;
    position: relative;
    font-weight: 400;
    font-size: 40px;
    text-shadow:1px 1px red ;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    padding-top:30px;
  }

  .contact_title h2::before {
    content: '<contact>';
    position: absolute;
    top: -12px;
    left: 250px;
    font-weight: 300;
    font-size: 15px;
    text-shadow: 1px 1px blue;
    letter-spacing: 3px;
    font-family: 'Press Start 2P', cursive;
    text-transform: lowercase;
  }

  .contact_title h2::after {
    content: '</contact>';
    position: absolute;
    bottom: 0;
    right: 250px;
    font-weight: 300;
    font-size: 15px;
    text-shadow: 1px 1px red;
    letter-spacing: 1px;
    font-family: 'Press Start 2P', cursive;
    text-transform: lowercase;
  }

  .contact_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  

  .form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .form {
    width: 900px;
  }

  .form .form_group {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form .form_group input {
    height: 30px;
    width: 100%;
    padding: 20px 10px;
    border-radius: 0;
    box-shadow: 1px 1px purple;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 17px;
  }

  .form .form_coment textarea {
    height: 150px;
    width: 100%;
    border-radius: 0;
    box-shadow: 1px 1px purple;
    padding: 10px 10px;
    background-color: transparent;
    border: 1px solid #fff;
    resize: none;
    color: #fff;
    font-size: 17px;
    
  }

  .form_group button {
    background-color: transparent;
    color: #fff;
    padding: 17px 50px;
    font-size: 17px;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    position: relative;
    z-index: 1000;
    cursor: pointer;
  }

  .form_group button:hover::before, .form_group button:hover::after {
  padding: 30px;
  color: #fff;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: -12px;
  }

  .form_group button:hover::before {
    left: -17px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s linear infinite reverse;
  }

  .form_group button:hover::after {
    left: -30px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s linear infinite reverse;
  }

  .form_group #email span {
      color: crimson;
  }

  footer {
    height: 80px;
    width: 100%;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  footer small {
    color: #fff;
    font-size: 17px;
  }

  footer .social_footer {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 0 20px;
  }

  .git_footer {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(220deg) brightness(106%) contrast(101%);
    
  }

  .link_footer {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(220deg) brightness(106%) contrast(101%);
    
  }

 @media screen and (max-width: 980px) {

  .form {
    width: 700px;
  }

 }

 @media screen and(max-width: 780px) {
  .form {
    width: 400px;
  }
 }

 @media screen and (max-width: 575px) {

  .form {
    width: 360px;
  }

  .contact_title h2 {
      height: 100px;
      width: 200px;
      color: rgb(226, 226, 226);
      text-align: center;
      position: relative;
      font-weight: 400;
      font-size: 28px;
      text-shadow:1px 1px blue ;
      font-family: 'Press Start 2P', cursive;
      text-transform: uppercase;
      padding-top:30px ;
  }

  .contact_title h2::before {
    content: '<contact>';
    position: absolute;
    top: -12px;
    left: 120px;
    font-weight: 300;
    font-size: 15px;
    text-shadow: 1px 1px blue;
    letter-spacing: 3px;
    font-family: 'Press Start 2P', cursive;
    text-transform: lowercase;
  }

  .contact_title h2::after {
    content: '</contact>';
    position: absolute;
    bottom: 0;
    right: 120px;
    font-weight: 300;
    font-size: 15px;
    text-shadow: 1px 1px red;
    letter-spacing: 1px;
    font-family: 'Press Start 2P', cursive;
    text-transform: lowercase;
  }
 }






  

